name: Train Model (Tadawul)

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model
        run: |
          python train_model.py

      # ⭐⭐ هذا هو الجزء المهم ⭐⭐
      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: model-joblib
          path: model.joblib
